<%- include layouts/header.ejs %>

<div class="container">

  <h1 class=" text-white my-3"><%= title %></h1>

  <div class=" about jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">
      Las competencias digitales que se obtienen con el uso de las TIC se relacionan con el desarrollo de habilidades técnicas para el manejo de un determinado dispositivo digital.
    </p>
    <hr class="my-4" />
    <p>
      También están enfocadas en el desarrollo de habilidades de tal forma que permiten adquirir conocimientos, capacidades, valores y actitudes para el logro de objetivos mediante la ayuda que prestan estas herramientas.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprender Mas</a>
  </div>
</div>

<%- include layouts/footer.ejs %>
