body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #cc2b5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #753a88,
    #cc2b5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #753a88,
    #cc2b5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
.about {
  margin-top: 0px;
  margin-bottom: 0px;
}


.footer {
  margin-top: auto;
 }
